/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

body {
    font-family: "Saira", sans-serif;
    color: #414c4d;
}

button {
    font-family: "Saira", sans-serif;
    color: #e3f7fa;
}