/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

$theme-colours: (
  "bg-primary": #a67b54,
  "bg-secondary": #e6d6b5,
  "main-text-color": #333,
  "link-color": #6e4c30,
  "success": #198754,
  "warning": #ffc107,
  "info": #f2e5da,
  "light": #fbf5f3,
  "dark": #362818
) !default;

body {
  font-family: "font-family: "Inter", sans-serif;
  color; #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "font-family: "Saira", sans-serif;
  color: #ffc107;
}

